<h2>Angular-2 Hangouts on Air Home!</h2>

<div>
  Welcome to Angular-2 Hangouts on Air<br/>
  <br/>
  <b>YouTube Channel:</b> https://www.youtube.com/channel/UCqgymhY-Csfu_mXMCPtdTlw<br/>
  <b>Slack Team:</b> https://angular2hub.slack.com<br/>
  <b>Twitter:</b> https://twitter.com/angular2hub<br/>
  <!--Google+: https://plus.google.com/101657724284590939995 -->
  <b>Upcomming Events</b>:<br/>
  <b>Past Events</b>:<br/>
</div>

<div>
<p>
<br/>
We are is a community of Javascript programmers interested in 
<b>weekly Google Hangouts on Air</b> dedicated to learning Angular-2.
<br/><br/>
</p>

<h2>Motivation</h2>

<p>
Nowadays, we all have access to great presentations in various conferences and meetups, 
but very few of them give us the opportunity to interact with the speakers when we need to. 
Our goal is to change that tradition for the meetup attendees; novice and expert alike.
</p>

<p>
<b>If you are an angular-2 novice</b>, we encourage you to interrupt the speakers 
and fire away your questions.<br/>
<b>If you are an Angular-2 expert</b>, we expect you to augment the speakers' explanations 
with yours in order to deepen everyone's understanding of the uncharted 
waters of Angular-2.
</p>

<p>
The idea is to learn Angular-2 from each other in small informal gatherings in a 
systematic manner.
</p>

<p>
A week before each meeting, a subject would be announced along 
with top-notch public learning resources for the subject. Then at the meetup we 
can compare notes and help each other to gain deep understanding of that subject, 
before proceeding to the next subject.
</p>

<p>
If you would like to lead a session, please propose the topic you'd like to discuss 
and some details about it 
<a href="https://meetabit.com/communities/122/talk_proposals/new">here</a>.
</p>

<p>
You are welcome to join our Slack Team to converse with other members of the community.
https://angular2hub.slack.com/
</p> 
    
</div>